body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-image: url(https://ogimg.infoglobo.com.br/in/24910782-3e5-4a8/FT1086A/Danilo.jpg);
    background-size: cover;
       background-repeat: no-repeat;
}

h1 {
    color: rgb(90, 5, 201);
}

button {
    background-color: rgb(10, 223, 10);
    color: aliceblue;
    border: none;
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
}

p{
    font-size: 20px;
    margin-top: 20px;
    color: aliceblue;
}