*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    height: 25rem;
    background: linear-gradient(to right, #ff1493, #ff8c00, #ff00ff);
    color: #ffffff; 
}


h1 {
    text-align: center;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.img1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.imgc {
    width: 25rem;
}

.p1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    text-align: center;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



footer{
    background: linear-gradient(to right, #ff1493, #ff8c00, #ff00ff);
}
.caixa {
    width: 940px;
    margin: 0 auto;
}

nav {
    margin: auto;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #ee07c7cb;
    text-decoration: underline;
}

.copyright {
    color: rgb(0, 0, 0);
	font-size: 13px;
	margin: 20px 0 0;
    text-align: center;
}